<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1 user-scalable=no, shrink-to-fit=no">
<meta name="description" content="{{ page.description }}">
<meta content='#000000' name='theme-color'/>
<title>{{page.title}}</title>
<link rel="shortcut icon" href="https://images.weserv.nl/?url={{site.Image_URL}}&h=300&w=300&fit=cover&mask=circle&l=9&output=webp&q=63" type="image/x-icon">
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url}}">
<script src="https://kit.fontawesome.com/ad3cde6b37.js" crossorigin="anonymous"></script>
